* {
  margin: 0;
  padding: 0;
}

.main {
  font-family: sans-serif;
  position: absolute;
  top: 30%;
  left: 20vw;
}

table {
  height: 200px;
  width: 700px;
  border-collapse: collapse;
}

td {
  text-align: center;
  width: 100px;
  height: 40px;
  border: 1px solid black;
}

th {
  color: #4a442a;
  border: 1px solid black;
}

.grey-head {
  background-color: #d9d9d9;
}

.head-color {
  background-color: #a5a5a5;
}
